@import url('https://fonts.googleapis.com/css?family=Poppins');
 /*COLORS*/
 :root {
    --bg-color: #333;
    --text-color: white;
    --icon-color-main: #555;
    --icon-color-hover: #999;
    --icon-color-active: #ccc;
    --opacity-main: 0.2;
    --opacity-hover: 0.6;

}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lyrics {
    white-space: pre;
    color: var(--text-color);
    font-size: 2rem;
    padding: 1rem;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}
.controlls {
    position: fixed;
    padding-left: 1rem;
}
.ctrl-button {
    color: var(--icon-color-main);
    font-size: 3rem;
    cursor: pointer;

}
.ctrl-button:hover {
    color: var(--icon-color-hover);
}
.ctrl-button:active {
    color: var(--icon-color-active);
}
#slider {
    background: none;
    transform: translate(-87px, 150px) rotate(-90deg);
    transform-origin: 50% 50%;
    opacity: var(--opacity-main);
}
#slider:hover {
    cursor: pointer;
    opacity: var(--opacity-hover);
}
#slider:active {
    opacity: 1;
}
#slider-value {
    color: var(--icon-color-main);
}