@import url('https://fonts.googleapis.com/css?family=Poppins');
 /*COLORS*/
 :root {
    --bg-color: #333;
    --text-color: white;
    --icon-color-main: #555;
    --icon-color-hover: #999;
    --icon-color-active: #ccc;
    --opacity-main: 0.2;
    --opacity-hover: 0.6;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}
.lyrics {
    /* white-space: pre; */
    color: var(--text-color);
    font-size: 2rem;
    padding: 1rem;
    margin-left: 4rem;
}
.controlls {
    position: fixed;
    width: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ctrl-button {
    color: var(--icon-color-main);
    font-size: 3rem;
    cursor: pointer;
}
.ctrl-button:hover {
    color: var(--icon-color-hover);
}
#slider {
    background: none;
    transform: rotate(-90deg) translateX(-90%);
    opacity: var(--opacity-main);
}
#slider:hover {
    cursor: pointer;
    opacity: var(--opacity-hover);
}
#slider:active {
    opacity: 1;
}
#slider-value {
    color: var(--icon-color-main);
}
#overlay {
    position: fixed; 
    display: flex;
    display: none; 
    width: 100%; 
    height: 100%;
    overflow: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333; /* Black background with opacity */
    z-index: 2; 
    color: var(--text-color);
}
#overlay i {
    cursor: pointer;
}
#overlay ul{
    display: flex;
    flex-direction: column;
    flex: 1;
}
#overlay ul li {
    list-style: none;
    cursor: pointer;
    font-weight: 700;
}
#overlay ul li:hover {
    text-decoration: underline;
}
